@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Exo', sans-serif;
}
header{
    height:auto;
    width:100%;
    background:lightblue;
    border-radius: 0 0 0 40px;
    display: flex;
    justify-content: space-between;
}
footer{
    height:fit-content;
    width:100%;
    border-radius: 0 40px 0 0;
    background:red;
    text-align: center;
}
.social-links{
    position:fixed;
    text-align: center;
    background:lightblue;
    height:fit-content;
    left:0;
    bottom:0;
    width:100%;
}